<!-- system.clients.tmpl -->
<table class="view-container pure-table pure-table-striped pure-table-custom no-margin-top">
	<thead>
		<tr class="cursor-pointer">
			<th data-key="tagName" data-direction="asc">Tag Name</th>
			<th data-key="count" data-direction="asc">Count</th>
			<th data-key="remove" data-direction="asc">Remove Tag</th>
		</tr>
	</thead>
	<tbody id="adminTags-list" class="selectable-rows"></tbody>
</table>

<div id="empty-view-container"></div>