<td><%= name %></td>
<td><%= count %></td>
<td><button id="adminTag-remove" class="pure-button pure-button-custom button-small margin-left " title="Remove Tag">
			<i class="icon-fa-tag"></i> <i class="icon-fa-minus small-remove-icon" ></i> </button>
</td>