<div id="module-header"></div>

<div  class="margin-bottom">
  <form class="pure-form pure-form-custom">
    <p id="adminTag-error" class="hide form-error text-red"></p>
    <div id="adminTag-delete" class="hide form-warning">
      <div id="adminTag-delete-info"></div>
      <div style="overflow:hidden">
        <button id="adminTag-confirm-delete" class="pure-button pure-button-custom button-small margin-left right" title="Ok"> <i class="icon-fa-check"></i>  <label>OK</label></button>
        <button id="adminTag-cancel-delete" class="pure-button pure-button-custom button-small margin-left right" title="Cancel"> <i class="icon-fa-times"></i>  <label>Cancel</label></button>
      </div>
    </div>
  </form>
  <div class="tabbable">
    <ul id="adminTag-tabs" class="nav nav-tabs no-margin no-decoration">
      <li class="active"><a href="#tab1" data-toggle="tab"></i>Tags</a></li>
    </ul>
    <br>
    <div class="tab-content">
		  <div class="tab-pane active" id="module-list">
	  	  <div id="adminTag-list"></div>
  	 </div>
    </div>
  </div>
</div>

<div id="module-details"></div>