<div class="row">
	<div class="column large-6 medium-6">
		<h1 class="icon-fa-tree">Clients<span id="current-client"></span></h1>
	</div>

	<div class="column large-6 medium-6">
		<button id="toolbar-list-show-button" class="pure-button pure-button-custom button-small margin-left right hide" title="Show Result"><i class="icon-plus-squared"></i> <label>Show results</label></button>
 		<button id="toolbar-add-button" class="pure-button pure-button-custom button-small right margin-left" title="Add Client"><i class="fa icon-fa-tree"></i> <i class="icon-fa-plus all-add-icon"></i> <label> Add</label></button>

		<form class="pure-form pure-form-custom right show-for-large-up">
		  <label for="toolbar-search-input" class="invisible">Search</label>
		  <input type="search" placeholder="Search for client" id="toolbar-clients-search-input" class="typeahead auto-width">

		  <button type="submit" id="toolbar-search-button" class="pure-button pure-button-custom button-small"><i class="icon-search"></i></button>
		</form>
	</div>
</div>