<!-- system.client.tmpl -->
<form class="pure-form pure-form-custom">
	<label for="client-name">Name</label>
	<textarea  name="Name" id="client-name" class=" pure-input-1 margin-bottom" placeholder="Client Name.." rows="1"><%= Name %></textarea> <br>

	<label for="client-passport">Passport</label>
	<textarea id="client-passport" class=" pure-input-1 margin-bottom" placeholder="Client Passport.." rows="1"><%= Passport %></textarea> <br>

	<label for="client-subdomain">SubDomain</label>
	<textarea name ="SubDomain" id="client-subdomain" class=" pure-input-1 margin-bottom" placeholder="Client SubDomain.." rows="3"><%= SubDomain %></textarea> <br>

	<label for="client-email">SuperUser Email Address</label>
	<textarea name="emailAddress" id="client-email" class=" pure-input-1 margin-bottom" placeholder="Client Email.." rows="3"><%= emailAddress %></textarea> <br>
</form>