<!-- system.clients.tmpl -->
<table class="view-container pure-table pure-table-striped pure-table-custom no-margin-top">
	<thead>
		<tr class="cursor-pointer">
			<th data-key="name" data-direction="asc">Client Name</th>
			<th data-key="passport" data-direction="asc">Passport</th>
			<th data-key="created" data-direction="asc">Created</th>
		</tr>
	</thead>
	<tbody id="clients-list" class="selectable-rows"></tbody>
</table>
<div id="empty-view-container"></div>