/*------------------------------------*\
  $$ Just Checking - Extend Pure Buttons
\*------------------------------------*/
/*
Requires:
  * SASS
  * Compass
  * Global Variables
  * Global Mixins
Contents:
  * Imports
  * Submit
  * Default
  * Position
  * Icons
  * Inline Button
  * Button Sizes
Notes:
  * This extends the purecss buttons
*/
/*------------------------------------*\ 
  $ Imports
\*------------------------------------*/
/*------------------------------------*\
  $$ Just Checking - Global Mixins
\*------------------------------------*/
/*
Requires:
  * SASS
  * Compass
  * Global Variables
Contents:
  * Imports
  * Utility
    * Clearfix
    * Reset Margin & Padding
  * Borders
  * Backgrounds
  * Gradients
  * Menus
  * Buttons
    * Default button
    * Submit button
  * Overlay
  * Text Trim
  * Scroll
  * Links
  * Icons
  * Animations
  * Visibility
*/
/*------------------------------------*\ 
  $ Imports
\*------------------------------------*/
/*------------------------------------*\
  $$ Just Checking - Global Variables
\*------------------------------------*/
/*
Requires:
  * SASS
Contents:
  * Colours
    * Brand colours 
    * Button & alert colours
    * Background colours
  * Scaffolding
    * Max & Min Widths
    * Default Breakpoints
  * Forms
  * Buttons
    * Colours
    * Sizes
  * Margin & Padding
  * Typography
    * Font Family
    * Text Colour
    * Text size
    * Text weight
  * Borders
  * Dimensions
  * Shadows
  * Tables
  * Breakpoints
*/
/*------------------------------------*\
  $ Colours
\*------------------------------------*/
/*
1. White
* FFFFFF

2. The 3 Greys
* F8F8F8   (Light)
* CCCCCC (Mid)
* 666666   (Dark)

3. The 3 Blues
* DDE1EC (Light)
* 00528D  (Mid)
* 001D47  (Dark)
*/
/* Brand colours */
/* Button & alert colours */
/* Background colours */
/*------------------------------------*\
  $ Scaffolding
\*------------------------------------*/
/* Max & Min Widths */
/* Default Breakpoints */
/*------------------------------------*\
  $ Forms
\*------------------------------------*/
/*------------------------------------*\
  $ Buttons
\*------------------------------------*/
/* Colours */
/* Sizes */
/*------------------------------------*\
  $ Margin & Padding
\*------------------------------------*/
/*------------------------------------*\
  $ Typography
\*------------------------------------*/
/* Font Family */
/* Text Colour */
/* Text size */
/* Text weight */
/*------------------------------------*\
  $ Borders
\*------------------------------------*/
/*------------------------------------*\
  $ Dimensions
\*------------------------------------*/
/*------------------------------------*\
  $ Shadows
\*------------------------------------*/
/*------------------------------------*\
  $ Tables
\*------------------------------------*/
/*------------------------------------*\
  $ Breakpoints
\*------------------------------------*/
/*------------------------------------*\
  $ Utility
\*------------------------------------*/
/* Clearfix */
/* Reset Margin & Padding */
/*------------------------------------*\
  $ Borders
\*------------------------------------*/
/*------------------------------------*\
  $ Backgrounds
\*------------------------------------*/
/*------------------------------------*\
  $ Gradients
\*------------------------------------*/
/*------------------------------------*\
  $ Menus
\*------------------------------------*/
/*------------------------------------*\
  $ Buttons
\*------------------------------------*/
/* Default button */
/* Submit button */
/*------------------------------------*\
  $ Overlay
\*------------------------------------*/
/*------------------------------------*\
  $ Text Trim
\*------------------------------------*/
/*
Requires:
  * This requires a container with a set width
*/
/*------------------------------------*\
  $ Scroll
\*------------------------------------*/
/*------------------------------------*\
  $ Links
\*------------------------------------*/
/*------------------------------------*\
  $ Icons
\*------------------------------------*/
/*------------------------------------*\
  $ Animations
\*------------------------------------*/
/*------------------------------------*\
  $ Visibility
\*------------------------------------*/
/*------------------------------------*\
  $ Submit
\*------------------------------------*/
/* line 44, ../../../scss/extend/pure/extend.pure.buttons.scss */
.pure-button-custom[type="submit"] {
  color: white;
  padding: 0.5em 1em;
  background-color: #00528d;
  border: none;
}

/* line 48, ../../../scss/extend/pure/extend.pure.buttons.scss */
.pure-button-custom[type="submit"]:hover {
  color: white;
  background: #001d47;
}

/* line 52, ../../../scss/extend/pure/extend.pure.buttons.scss */
.pure-button-custom[type="submit"]:focus {
  background: #001d47;
}

/* line 56, ../../../scss/extend/pure/extend.pure.buttons.scss */
.pure-button-custom[type="submit"]:active {
  background: #001d47;
}

/*------------------------------------*\
  $ Default
\*------------------------------------*/
/* line 67, ../../../scss/extend/pure/extend.pure.buttons.scss */
.pure-button-custom,
.lt-ie9 .pure-button-custom {
  font-weight: 800;
  padding: 0.5em 0.66667em;
  height: 32px;
  min-width: 44px;
  color: #333333;
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border-bottom: 1px solid #999999;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 74, ../../../scss/extend/pure/extend.pure.buttons.scss */
.pure-button-custom:hover,
.lt-ie9 .pure-button-custom:hover {
  background: white;
  color: #333333;
}

/* line 79, ../../../scss/extend/pure/extend.pure.buttons.scss */
.pure-button-custom:focus,
.lt-ie9 .pure-button-custom:focus {
  -webkit-box-shadow: 0 0 3px #00528d, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 0 3px #00528d, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 0 3px #00528d, 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  background: #f8f8f8;
}

/* line 85, ../../../scss/extend/pure/extend.pure.buttons.scss */
.pure-button-custom:active,
.lt-ie9 .pure-button-custom:active,
.pure-button-custom.active {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
  background: #f8f8f8;
  border: 1px solid #cccccc;
}

/* line 89, ../../../scss/extend/pure/extend.pure.buttons.scss */
.pure-button-custom.active {
  color: #00528d !important;
}

/*------------------------------------*\
  $ Colours
\*------------------------------------*/
/* line 100, ../../../scss/extend/pure/extend.pure.buttons.scss */
.button-red {
  background-color: #c60f13;
  color: white;
}
/* line 104, ../../../scss/extend/pure/extend.pure.buttons.scss */
.button-red:hover {
  background-color: #c60f13;
  color: white;
}

/*------------------------------------*\
  $ Position
\*------------------------------------*/
/* line 117, ../../../scss/extend/pure/extend.pure.buttons.scss */
.button-fixed-bottom,
.button-fixed-top {
  position: fixed;
  right: 0;
  z-index: 100;
  line-height: 26px;
  line-height: 2.6rem;
  overflow: visible;
}

/* line 126, ../../../scss/extend/pure/extend.pure.buttons.scss */
.button-fixed-bottom {
  bottom: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

/* line 133, ../../../scss/extend/pure/extend.pure.buttons.scss */
.button-fixed-top {
  top: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

/*------------------------------------*\
  $ Icons
\*------------------------------------*/
/* line 149, ../../../scss/extend/pure/extend.pure.buttons.scss */
.pure-button-custom [class^="icon-"]:before,
.pure-button-custom [class*=" icon-"]:before {
  margin: 0;
}

/*------------------------------------*\
  $ Inline Button
\*------------------------------------*/
/* line 161, ../../../scss/extend/pure/extend.pure.buttons.scss */
.button-inline {
  width: 100%;
  min-width: 34px;
  height: 32px;
  padding: 0.5em;
}

/*------------------------------------*\
  $ Button Sizes
\*------------------------------------*/
/* line 175, ../../../scss/extend/pure/extend.pure.buttons.scss */
.button-small {
  height: 32px !important;
}

/*------------------------------------*\
  $ Disabled
\*------------------------------------*/
/* line 190, ../../../scss/extend/pure/extend.pure.buttons.scss */
.pure-button[disabled],
.pure-button-disabled,
.pure-button-disabled:hover,
.pure-button-disabled:focus,
.pure-button-disabled:active {
  border: 1px solid #cccccc;
}

/* line 198, ../../../scss/extend/pure/extend.pure.buttons.scss */
.pure-form button[type=submit] {
  margin-top: 0;
}
