/*------------------------------------*\
  $$ Just Checking - Extend Typography
\*------------------------------------*/
/*
Requires:
  * SASS
  * Global Variables
Contents:
 	* Imports 
 	* Base Font Size
 	* Default Font Size
 	* Headings
 	* Text Colour
 	* Horizontal Rules
 	* Media Queries
*/
/*------------------------------------*\
	$ Imports
\*------------------------------------*/
/*------------------------------------*\
  $$ Just Checking - Global Variables
\*------------------------------------*/
/*
Requires:
  * SASS
Contents:
  * Colours
    * Brand colours 
    * Button & alert colours
    * Background colours
  * Scaffolding
    * Max & Min Widths
    * Default Breakpoints
  * Forms
  * Buttons
    * Colours
    * Sizes
  * Margin & Padding
  * Typography
    * Font Family
    * Text Colour
    * Text size
    * Text weight
  * Borders
  * Dimensions
  * Shadows
  * Tables
  * Breakpoints
*/
/*------------------------------------*\
  $ Colours
\*------------------------------------*/
/*
1. White
* FFFFFF

2. The 3 Greys
* F8F8F8   (Light)
* CCCCCC (Mid)
* 666666   (Dark)

3. The 3 Blues
* DDE1EC (Light)
* 00528D  (Mid)
* 001D47  (Dark)
*/
/* Brand colours */
/* Button & alert colours */
/* Background colours */
/*------------------------------------*\
  $ Scaffolding
\*------------------------------------*/
/* Max & Min Widths */
/* Default Breakpoints */
/*------------------------------------*\
  $ Forms
\*------------------------------------*/
/*------------------------------------*\
  $ Buttons
\*------------------------------------*/
/* Colours */
/* Sizes */
/*------------------------------------*\
  $ Margin & Padding
\*------------------------------------*/
/*------------------------------------*\
  $ Typography
\*------------------------------------*/
/* Font Family */
/* Text Colour */
/* Text size */
/* Text weight */
/*------------------------------------*\
  $ Borders
\*------------------------------------*/
/*------------------------------------*\
  $ Dimensions
\*------------------------------------*/
/*------------------------------------*\
  $ Shadows
\*------------------------------------*/
/*------------------------------------*\
  $ Tables
\*------------------------------------*/
/*------------------------------------*\
  $ Breakpoints
\*------------------------------------*/
/*------------------------------------*\
  $ Base Font Size
\*------------------------------------*/
/* line 38, ../../../scss/extend/pure/extend.pure.typography.scss */
html {
  font-size: 62.5%;
}

/*------------------------------------*\
  $ Default Font Size
\*------------------------------------*/
/* line 49, ../../../scss/extend/pure/extend.pure.typography.scss */
body {
  font-family: sans-serif;
  font-size: 14px;
  /* =13px */
  font-size: 1.4rem;
  /* 1.3rem */
  color: #333333;
  line-height: 1.6;
}

/*------------------------------------*\
  $ Headings
\*------------------------------------*/
/* line 74, ../../../scss/extend/pure/extend.pure.typography.scss */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6 {
  text-rendering: optimizeLegibility;
  margin: 2rem 0 1.2rem 0;
  line-height: 1;
}

/* line 82, ../../../scss/extend/pure/extend.pure.typography.scss */
h1,
.h1,
.largest-text {
  font-size: 26px;
  font-size: 2.6rem;
  /* =36px */
  margin-top: 0;
  margin-bottom: 0.33333em;
  color: #00528d;
}

/* line 92, ../../../scss/extend/pure/extend.pure.typography.scss */
h2,
.h2,
.larger-text {
  font-size: 20px;
  font-size: 2rem;
  /* =24px */
  color: #00528d;
}

/* line 100, ../../../scss/extend/pure/extend.pure.typography.scss */
h3,
.h3,
.large-text {
  font-size: 16px;
  font-size: 1.6rem;
  /* =20px */
  color: #00528d;
}

/* line 107, ../../../scss/extend/pure/extend.pure.typography.scss */
h4,
.h4 {
  font-size: 14px;
  font-size: 1.4rem;
  /* =16px */
  color: #333333;
}

/* line 114, ../../../scss/extend/pure/extend.pure.typography.scss */
h5,
.h5 {
  font-size: 12px;
  font-size: 1.2rem;
  /* =14px */
}

/* line 120, ../../../scss/extend/pure/extend.pure.typography.scss */
h6,
.h6 {
  font-size: 11px;
  font-size: 1.1rem;
  /* =12px */
}

/*------------------------------------*\
  $ Text Colour
\*------------------------------------*/
/* line 132, ../../../scss/extend/pure/extend.pure.typography.scss */
.text-gray {
  color: #666666;
}

/* line 136, ../../../scss/extend/pure/extend.pure.typography.scss */
.text-red {
  color: #c60f13;
}

/* line 140, ../../../scss/extend/pure/extend.pure.typography.scss */
.text-white {
  color: white;
}

/* line 144, ../../../scss/extend/pure/extend.pure.typography.scss */
.text-blue {
  color: #00528d;
}

/* line 148, ../../../scss/extend/pure/extend.pure.typography.scss */
.text-green {
  color: #4f8a1e;
}

/*------------------------------------*\
  $ Horizontal Rules
\*------------------------------------*/
/* line 159, ../../../scss/extend/pure/extend.pure.typography.scss */
hr {
  background-color: #cccccc;
  border-width: 0;
  height: 1px;
  line-height: 0;
  page-break-after: always;
}

/*------------------------------------*\
  $ Icons
\*------------------------------------*/
/*------------------------------------*\
  $ Media Queries
\*------------------------------------*/
/* >= 940px */
@media screen and (min-width: 940px) {
  /* Headings */
  /* line 193, ../../../scss/extend/pure/extend.pure.typography.scss */
  h1,
  .h1,
  .largest-text {
    font-size: 34px;
    font-size: 3.4rem;
  }

  /* line 200, ../../../scss/extend/pure/extend.pure.typography.scss */
  h2,
  .h2,
  .larger-text {
    font-size: 24px;
    font-size: 2.4rem;
  }

  /* line 208, ../../../scss/extend/pure/extend.pure.typography.scss */
  h3,
  .h3,
  .large-text,
  legend {
    font-size: 20px;
    font-size: 2rem;
  }

  /* line 214, ../../../scss/extend/pure/extend.pure.typography.scss */
  h4,
  .h4 {
    font-size: 16px;
    font-size: 1.6rem;
  }

  /* line 220, ../../../scss/extend/pure/extend.pure.typography.scss */
  h5,
  .h5 {
    font-size: 14px;
    font-size: 1.4rem;
  }

  /* line 226, ../../../scss/extend/pure/extend.pure.typography.scss */
  h6,
  .h6 {
    font-size: 12px;
    font-size: 1.2rem;
  }
}
